{
  "openapi": "3.1.0",
  "info": {
    "title": "API Wiki Project API",
    "description": "API Wiki 프로젝트 명세서",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apiwiki-api.my-project.cloud",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "JWT": []
    }
  ],
  "tags": [
    {
      "name": "API 탐색",
      "description": "Explore 페이지 API 목록 조회 + 필터 + 상세 조회"
    }
  ],
  "paths": {
    "/api/v1/users/me/wikis": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "내가 편집한 위키 목록보기 API By 이노",
        "description": "해당 API를 호출한 사용자의 위키 편집 목록을 리스트로 제공합니다.\u003Cbr\u003E\n\u003Cbr\u003E\n▪ page는 0-based 입니다.\u003Cbr\u003E\n▪ 기본 size = 16\n",
        "operationId": "viewMyWikiHistory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseDTOMyWikiHistory"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseDTOMyWikiHistory"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "회원가입 API By 이노",
        "description": "회원가입 정보를 받아 새로운 유저를 등록합니다.",
        "operationId": "signUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Signup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginRes"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginRes"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "로그아웃 API By 이노",
        "description": "로그아웃합니다.\u003Cbr\u003E\n실제 로그아웃 로직(토큰 블랙리스트 등)은 현재 백엔드 상에서 구현되어 있지 않습니다.\u003Cbr\u003E\n\u003Cbr\u003E\n**[프론트엔드 동작]**\u003Cbr\u003E\n프론트엔드 측에서 해당 응답을 받으면 로컬 스토리지/쿠키의 토큰을 삭제하면 됩니다.\n",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "로그인 API By 이노",
        "description": "회원의 정보를 받아 로그인합니다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginRes"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginRes"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/reviews": {
      "get": {
        "tags": [
          "api-review-controller"
        ],
        "summary": "리뷰 조회 API By 제인",
        "description": "특정 API에 대한 리뷰 목록을 조회합니다.\u003Cbr\u003E\n리뷰는 최신순으로 정렬되며, 16개 단위로 페이징됩니다.\u003Cbr\u003E\n평균 별점과 전체 리뷰 개수를 함께 반환합니다.\n",
        "operationId": "getReviews",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "404": {
            "description": "API 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReviewList"
                }
              }
            }
          },
          "200": {
            "description": "리뷰 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReviewList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-review-controller"
        ],
        "summary": "리뷰 작성 API By 제인",
        "description": "특정 API에 대한 리뷰를 작성합니다.\u003Cbr\u003E\n하나의 사용자는 동일한 API에 대해 여러 개의 리뷰를 작성할 수 있습니다.\u003Cbr\u003E\n리뷰에는 별점(rating)과 코멘트(comment)가 포함됩니다.\n",
        "operationId": "createReview",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "리뷰 작성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "404": {
            "description": "API 또는 사용자 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/favorite": {
      "post": {
        "tags": [
          "API 탐색"
        ],
        "summary": "API 좋아요 By 이노",
        "description": "해당 API를 좋아요(북마크) 합니다.\n이미 좋아요된 상태에서 한 번 더 호출하면 기존의 좋아요를 취소할 수 있습니다.\n",
        "operationId": "toggleFavorite",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API 상세 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFavoriteToggle"
                }
              }
            }
          },
          "404": {
            "description": "요청한 API를 찾을 수 없습니다. (API4001)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFavoriteToggle"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/wiki": {
      "get": {
        "tags": [
          "wiki-controller"
        ],
        "summary": "위키 수정 요청 API By 이노",
        "description": "위키 수정 버튼을 눌렀을 때 해당 위키의 내용과 버전을 반환합니다.",
        "operationId": "returnWiki",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseContent"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseContent"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "wiki-controller"
        ],
        "summary": "위키 수정 API By 이노",
        "description": "위키 수정 완료 버튼을 눌렀을 때 해당 위키의 내용을 수정합니다.\n 단, 해당 위키가 이미 수정이 이루어진 위키라면 수정을 중단하고 에러 메시지를 전송합니다.\n",
        "operationId": "editingWiki",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          },
          "400": {
            "description": "실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "health-controller"
        ],
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "내 프로필 조회 API By 제인",
        "description": "로그인한 사용자의 프로필 정보를 조회합니다.\u003Cbr\u003E\nJWT 인증이 필요하며, 토큰에 담긴 이메일(subject)을 기반으로 사용자를 식별합니다.\u003Cbr\u003E\n\u003Cbr\u003E\n**[응답 정보]**\u003Cbr\u003E\n- nickname: 사용자 닉네임\n",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMyProfileRes"
                }
              }
            }
          },
          "404": {
            "description": "사용자 정보 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMyProfileRes"
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않은 사용자",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMyProfileRes"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/activities": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "내 활동 내역 조회 API By 이노",
        "description": "로그인한 사용자의 활동(좋아요) 내역을 **날짜별 타임라인** 형태로 조회합니다.\u003Cbr\u003E\n가장 최근에 활동한 날짜가 먼저 나오며, 각 API의 상세 정보(평점, 리뷰 수 등)가 포함됩니다.\u003Cbr\u003E\n",
        "operationId": "getMyActivities",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListDailyActivityRes"
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않은 사용자",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListDailyActivityRes"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis": {
      "get": {
        "tags": [
          "API 탐색"
        ],
        "summary": "API 목록 조회 (Explore + 필터) By 악어",
        "description": "Explore 페이지용 API 목록 조회입니다.\n\n▪ page는 0-based 입니다.\n▪ 기본 size = 16\n▪ 모든 필터는 조합 가능합니다.\n\n[정렬 옵션]\n- latest : 최신 등록순 (기본값)\n- popular : 조회수 순\n- mostReviewed : 리뷰 많은 순\n",
        "operationId": "searchApis",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 16
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LATEST",
              "enum": [
                "LATEST",
                "POPULAR",
                "MOST_REVIEWED"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "KAKAO",
                "NAVER",
                "GOOGLE",
                "MICROSOFT",
                "AMAZON",
                "META",
                "IBM",
                "APPLE",
                "SPOTIFY",
                "ATLASSIAN",
                "OPEN_WEATHER",
                "TELEGRAM",
                "MIXPANEL",
                "STRIPE",
                "LINKEDIN",
                "DISCORD",
                "ASANA",
                "WOLFRAM",
                "NOTION",
                "HUBSPOT",
                "PEXELS",
                "SLACK",
                "OPEN_STREET_MAP",
                "PAYPAL",
                "REDDIT",
                "DROPBOX",
                "DEEPL",
                "TWILIO",
                "NEWS_API",
                "OPEN_AI",
                "MAILCHIMP",
                "SHOPIFY",
                "SQUARE",
                "AMPLITUDE",
                "ZOOM",
                "AUTOMATTIC",
                "UNSPLASH",
                "SENDGRID",
                "GIPHY",
                "GITHUB",
                "TWITTER",
                "SALESFORCE",
                "OPEN_DATA",
                "ETC"
              ]
            }
          },
          {
            "name": "authTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OAUTH2",
                "REFRESH_TOKEN",
                "ACCESS_TOKEN",
                "API_KEY",
                "JWT",
                "COOKIE",
                "BASIC"
              ]
            }
          },
          {
            "name": "pricingTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FREE",
                "PAID",
                "MIXED"
              ]
            }
          },
          {
            "name": "minRating",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API 상세 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseDTOApiPreview"
                }
              }
            }
          },
          "404": {
            "description": "요청한 API를 찾을 수 없습니다. (API4001)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageResponseDTOApiPreview"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}": {
      "get": {
        "tags": [
          "API 탐색"
        ],
        "summary": "API 상세 조회 By 제인",
        "description": "API 개요 탭에서 한줄 설명, 카테고리 태그, 긴 설명 등을 반환합니다.",
        "operationId": "getApiDetail",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API 상세 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiDetail"
                }
              }
            }
          },
          "404": {
            "description": "요청한 API를 찾을 수 없습니다. (API4001)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/similar": {
      "get": {
        "tags": [
          "API 탐색"
        ],
        "summary": "비슷한 API 추천 조회 By 악어",
        "description": "API 상세 페이지 하단의 '비슷한 API' 영역에 사용됩니다.\n\n▪ 기준 API와 같은 카테고리를 가진 API를 반환합니다.\n▪ 자기 자신(API)은 제외됩니다.\n▪ 최신 등록순으로 최대 5개를 반환합니다.\n▪ 로그인 상태인 경우, 각 API의 좋아요 여부(isFavorited)가 함께 반환됩니다.\n",
        "operationId": "getSimilarApis",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "요청한 API를 찾을 수 없습니다. (API4001)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListApiSimilarPreview"
                }
              }
            }
          },
          "200": {
            "description": "비슷한 API 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListApiSimilarPreview"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/pricing": {
      "get": {
        "tags": [
          "API 탐색"
        ],
        "summary": "API 비용 정보 조회 By 제인",
        "description": "API 상세 - 비용정보 탭에서 사용할 데이터를 조회합니다.\n\n▪ pricingInfoCsv는 DB에 저장된 CSV 텍스트를 반환합니다.\n▪ pricingType은 무료/혼합/유료 필터링 및 뱃지 용도입니다.\n",
        "operationId": "getApiPricing",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API 비용 정보 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiPricing"
                }
              }
            }
          },
          "404": {
            "description": "요청한 API를 찾을 수 없습니다. (API4001)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiPricing"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apis/{apiId}/reviews/{reviewId}": {
      "delete": {
        "tags": [
          "api-review-controller"
        ],
        "summary": "리뷰 삭제 API By 제인",
        "description": "본인이 작성한 API 리뷰를 삭제합니다.\u003Cbr\u003E\n다른 사용자의 리뷰는 삭제할 수 없습니다.\n",
        "operationId": "deleteReview",
        "parameters": [
          {
            "name": "apiId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "삭제 권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "200": {
            "description": "리뷰 삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          },
          "404": {
            "description": "리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreate"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponsePageResponseDTOMyWikiHistory": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/PageResponseDTOMyWikiHistory"
          }
        }
      },
      "MyWikiHistory": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "integer",
            "format": "int64"
          },
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "apiName": {
            "type": "string"
          },
          "editedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageResponseDTOMyWikiHistory": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MyWikiHistory"
            }
          },
          "totalPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "listSize": {
            "type": "integer",
            "format": "int32"
          },
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          }
        }
      },
      "Signup": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          }
        }
      },
      "ApiResponseLoginRes": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/LoginRes"
          }
        }
      },
      "LoginRes": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int64"
          },
          "accessToken": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          }
        }
      },
      "ApiResponseString": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "string"
          }
        }
      },
      "LoginReq": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Create": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "number",
            "format": "float",
            "maximum": 5,
            "minimum": 0
          },
          "comment": {
            "type": "string"
          }
        },
        "required": [
          "comment"
        ]
      },
      "ApiResponseCreate": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Create"
          }
        }
      },
      "ApiResponseFavoriteToggle": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/FavoriteToggle"
          }
        }
      },
      "FavoriteToggle": {
        "type": "object",
        "properties": {
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "isFavorited": {
            "type": "boolean"
          }
        }
      },
      "EditContent": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseMyProfileRes": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/MyProfileRes"
          }
        }
      },
      "MyProfileRes": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string"
          }
        }
      },
      "ApiPreview": {
        "type": "object",
        "properties": {
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "avgRating": {
            "type": "number"
          },
          "reviewCount": {
            "type": "integer",
            "format": "int64"
          },
          "viewCounts": {
            "type": "integer",
            "format": "int64"
          },
          "pricingType": {
            "type": "string",
            "enum": [
              "FREE",
              "PAID",
              "MIXED"
            ]
          },
          "authType": {
            "type": "string",
            "enum": [
              "OAUTH2",
              "REFRESH_TOKEN",
              "ACCESS_TOKEN",
              "API_KEY",
              "JWT",
              "COOKIE",
              "BASIC"
            ]
          },
          "providerCompany": {
            "type": "string",
            "enum": [
              "KAKAO",
              "NAVER",
              "GOOGLE",
              "MICROSOFT",
              "AMAZON",
              "META",
              "IBM",
              "APPLE",
              "SPOTIFY",
              "ATLASSIAN",
              "OPEN_WEATHER",
              "TELEGRAM",
              "MIXPANEL",
              "STRIPE",
              "LINKEDIN",
              "DISCORD",
              "ASANA",
              "WOLFRAM",
              "NOTION",
              "HUBSPOT",
              "PEXELS",
              "SLACK",
              "OPEN_STREET_MAP",
              "PAYPAL",
              "REDDIT",
              "DROPBOX",
              "DEEPL",
              "TWILIO",
              "NEWS_API",
              "OPEN_AI",
              "MAILCHIMP",
              "SHOPIFY",
              "SQUARE",
              "AMPLITUDE",
              "ZOOM",
              "AUTOMATTIC",
              "UNSPLASH",
              "SENDGRID",
              "GIPHY",
              "GITHUB",
              "TWITTER",
              "SALESFORCE",
              "OPEN_DATA",
              "ETC"
            ]
          },
          "isFavorited": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseListDailyActivityRes": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyActivityRes"
            }
          }
        }
      },
      "DailyActivityRes": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiPreview"
            }
          }
        }
      },
      "ApiResponsePageResponseDTOApiPreview": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/PageResponseDTOApiPreview"
          }
        }
      },
      "PageResponseDTOApiPreview": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiPreview"
            }
          },
          "totalPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "listSize": {
            "type": "integer",
            "format": "int32"
          },
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          }
        }
      },
      "ApiDetail": {
        "type": "object",
        "properties": {
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "longDescription": {
            "type": "string"
          },
          "officialUrl": {
            "type": "string"
          },
          "avgRating": {
            "type": "number"
          },
          "viewCounts": {
            "type": "integer",
            "format": "int64"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryItem"
            }
          },
          "logo": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isFavorited": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseApiDetail": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ApiDetail"
          }
        }
      },
      "CategoryItem": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ApiResponseContent": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Content"
          }
        }
      },
      "Content": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseListApiSimilarPreview": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiSimilarPreview"
            }
          }
        }
      },
      "ApiSimilarPreview": {
        "type": "object",
        "properties": {
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "avgRating": {
            "type": "number"
          },
          "pricingType": {
            "type": "string",
            "enum": [
              "FREE",
              "PAID",
              "MIXED"
            ]
          },
          "viewCounts": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseReviewList": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ReviewList"
          }
        }
      },
      "PageResponseDTOReviewItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewItem"
            }
          },
          "totalPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "listSize": {
            "type": "integer",
            "format": "int32"
          },
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          }
        }
      },
      "ReviewItem": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "format": "float"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReviewList": {
        "type": "object",
        "properties": {
          "totalRating": {
            "type": "number"
          },
          "reviewCount": {
            "type": "integer",
            "format": "int64"
          },
          "reviews": {
            "$ref": "#/components/schemas/PageResponseDTOReviewItem"
          }
        }
      },
      "ApiPricing": {
        "type": "object",
        "properties": {
          "apiId": {
            "type": "integer",
            "format": "int64"
          },
          "pricingType": {
            "type": "string",
            "enum": [
              "FREE",
              "PAID",
              "MIXED"
            ]
          },
          "pricingInfoCsv": {
            "type": "string"
          }
        }
      },
      "ApiResponseApiPricing": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ApiPricing"
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "name": "JWT",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}