@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pretendard Variable';
  font-weight: 400;
  color: #0b0f19;
  background-color: #f5f7fb;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply min-h-screen bg-slate-50 text-slate-900 antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}
